extends ../../includes/layout.pug

block mainContent
    - var verificationUrl = appUrl+'/comments/v/'+id
    p Thanks for leaving a comment on food &amp; writing, please verify it by clicking the button below.
    a.cta-button(href=verificationUrl target='_blank') Verify comment
    p Your comment will be visible on the site once it's been approved.

block secondaryContent
    - var verificationUrl = appUrl+'/comments/v/'+id
    p Can't see the button? Just click here: 
    p 
        a(href=verificationUrl target='_blank') !{verificationUrl}
    