html
include ./head.pug

body
    main
        section.main-section
            img.logo(src=appUrl+'/static/faw.png' width='150px')
            div
                block main
                            
                        
</html> 