extends ../../includes/layout.pug

block mainContent
    - var postUrl = siteUrl+postSlug
    p Your comment has a reply.
    a.cta-button(href=postUrl target='_blank') View post

block secondaryContent
    - var postUrl = siteUrl+postSlug
    p Can't see the button? Just click here: 
    p 
        a(href=postUrl target='_blank') !{postUrl}
    