extends ../../includes/layout.pug

block content
    table.content-table
        tbody
            tr
                td
                    img#logo(src='http://localhost:3000/static/faw.jpg' width='150px')
                    p Hi,
                    p 
                        | Thanks for leaving a comment on 
                        b food &amp; writing
                        | . Please verify your comment via the link below
                    a.cta-button Verify comment