<html>

body
    p 
        | Thanks for posting a comment 
        b #{displayName}
        | , please verify with the button below
    a(href='https://example.com/' target='_blank') Verify comment
</html> 